.Gradient {
    background-image: linear-gradient(45deg, #7e1fff, #6001D2);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}
