body {
}
.dropbtn {
    border: hidden;
    backface-visibility: hidden;
    background-color: none;
    background: none;
    color: #0F69FF;
    border: none;
    cursor: pointer;
    font: helvetica;
    font-size: 22px;
}
#Search {
    text-align: left;
}

.SearchButton {
    visibility: hidden;
    display: none;
}

#NameWatchList{
    position:absolute;
}

.show {
    display: block;
}

.ButtonRemove {
     background-image: url('../Images/Delete.png');
     background-attachment:fixed;
     image-resolution:initial;
}
    .ButtonRemove:hover {
        background-color: #f8f9fa;
    }

*{
    position:relative;
}




.DropDownDiv {
    visibility: hidden;
}
.show {
    visibility: visible;
}
.Hide{
    visibility:hidden;
    z-index:3;
}

.showDiv {
    visibility: visible;
    position: absolute;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    z-index: 4;
    border-radius: 15px;
    background: white;
    border: 3px solid #e0e4e9;
    left: 30px;
    z-index:5;
   
}

.pointer {
    height: 60px;
    width: 60px;
    background: white;
    transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    margin-top: -22px;
    position: absolute;
    left: calc(0.5vw - 50px);
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%);
    z-index: 4;
    border: 3px solid #e0e4e9;
    border-top-color: none;
}

.inputOfNameStock {
    height: 40px;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #999;
}

    .inputOfNameStock:focus {
        outline: none;
        border-color: #0F69FF;
    }





.SearchMessage {
    position: relative;
    color: #5b636a;
    z-index: 9;
    font-size: 30px;
    font-family: helvetica;
}








/*Filter button
*/
/* From uiverse.io by @barisdogansutcu */
.filterCss {
    position: absolute;
    border-radius: 50px;
    border: 1.5px solid 
        
        
        
        
        ;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

    .filterCss:hover {
        letter-spacing: 3px;
        background-color: #6001D2;
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }

    .filterCss:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }




#content {
    position: absolute;
    height: 50px;
    width: 350px;
    margin-left: 170px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #6001D2;
    z-index:10;
}

    #content.on {
        -webkit-animation-name: in-out;
        animation-name: in-out;
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }

.inputSearch {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 4px solid #6001D2;
    border-radius: 50%;
    background: none;
    color: #6001D2;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.8s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    z-index: 5;
}

.search {
    background: none;
    position: absolute;
    top: 0px;
    left: 0;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 100%;
    outline: 0;
    border: 0;
    color: inherit;
    cursor: pointer;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
    z-index: 5;
}

    .search:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 4px;
        background-color: #6001D2;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        margin-top: 26px;
        margin-left: 17px;
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

.close {
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

    .close:before {
        content: "";
        position: absolute;
        width: 27px;
        height: 4px;
        margin-top: -1px;
        margin-left: -13px;
        background-color: #6001D2;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        -webkit-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
    }

    .close:after {
        content: "";
        position: absolute;
        width: 27px;
        height: 4px;
        background-color: #6001D2;
        margin-top: -1px;
        margin-left: -13px;
        cursor: pointer;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

.square {
    box-sizing: border-box;
    padding: 0 40px 0 10px;
    width: 350px;
    height: 50px;
    border: 4px solid #6001D2;
    border-radius: 0;
    background: none;
    color: #6001D2;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out, padding 0.2s;
    -webkit-transition-delay: 0.4s, 0s, 0.4s;
    transition-delay: 0.4s, 0s, 0.4s;
    -webkit-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    transform: translate(-100%, -50%);
}


.Add {
    border: hidden;
    backface-visibility: hidden;
    background-color: none;
    background: none;
    cursor: pointer;
    text-decoration: none;
    color: #0F69FF;
}


.filterCss {
    position: absolute;
    border-radius: 50px;
    border: 1.5px solid #6001D2;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all .5s ease;
}

    .filterCss:hover {
        letter-spacing: 3px;
        background-color: #6001D2;
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
    }

    .filterCss:active {
        letter-spacing: 3px;
        background-color: hsl(261deg 80% 48%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
        transform: translateY(10px);
        transition: 100ms;
    }