body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

/* Create a column layout with Flexbox */
.row {
  display: flex;
}

/* Left column (menu) */
.left {
  flex: 25%;
  padding: 0.5% 0.5%;
  scroll-padding-block: auto;
  height: auto;
  position: fixed;
  z-index: 2;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
  flex: 75%;
  padding: 100%;
  z-index: 0;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}











.cards {
  position: relative;
  box-sizing: border-box;
  box-shadow: 0 0 6px rgb(0 0 0 / 20%), 0 6px 6px rgb(0 0 0 / 15%);
  border-radius: 8px;
  background-color: red;
  cursor: pointer;
  display:flex;
  transition: transform 0.45s ease, background 0.45s ease;
  z-index: 1;
  height: 50%;
  width:50%;
}

  .cards:hover {
      transform: translateY(-2px);
      font-size:17px;
      transform:scale(1.015);
  }
.link-text svg {
  transition: color 0.45s ease;
}   .data-card:hover .link-text svg {
  -webkit-animation: point 1.25s infinite alternate;
  animation: point 1.25s infinite alternate;
}